node_modules
dist
coverage
.git
.env
.env.*.local
docker-compose.override.yml
Dockerfile*
.docker
.dockerignore
.gitignore
README.md
.eslintignore
.prettierignore
.prettierrc
.husky
.vscode
.idea
*.log
.DS_Store
